{% extends 'client/base.html' %} {% load static %} {% block content %}
<!-- divider  -->
{% include 'partials/navbar.html'%}
<main class="container mt-5">
  <a role="button" onclick="history.back()" style="color: black">
    <i class="bi bi-arrow-left" style="font-size: 20px"></i>
  </a>
  <h3 class="heading_style mb-3 mt-5">PEP PAXI PARCEL COLLECT</h3>
  <p>
    PAXI is a store-to-store parcel service that allows consumers to COLLECT &
    RETURN parcels easily to over 2800 PAXI points nationwide.
  </p>
  <p>
    Placing an item in your shopping cart does not reserve that item or price.We
    only reserve stock for your oder once payment is recieved.
  </p>
  <p class="mt-5">Please select business days options</p>
  <form action="">
    <div class="bg-black p-3 text-white mb-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          3-5 Business Days
        </label>
      </div>
    </div>
    <div class="bg-black p-3 text-white mb-4">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          7-9 Business Days
        </label>
      </div>
    </div>
  </form>
</main>

<div class="container fixed-bottom bg-white" hx-boost="true">
  <div class="row mb-3 border mx-0 py-3" style="border-color: black !important">
    <div class="col">SUBTOTAL:</div>
    <div class="col">R1460</div>
  </div>
  <a href="{% url 'payment' %}">
    <button class="btn btn-secondary py-3 mb-4 rounded-0" style="width: 100%">
      COMPLETE ORDER
    </button>
  </a>
</div>

<!-- section diver  -->
<div style="height: 200px; width: 100%"></div>
{% endblock %}
