{% extends 'client/base.html' %} {% load static %} {% block content %}
<!-- divider  -->
{% include 'partials/navbar.html'%}

<style>
  .productimage {
    object-fit: cover !important;
    height: 500px !important;
  }
</style>

<section class="container mt-5">
  <a role="button" onclick="history.back()" style="color: black">
    <i class="bi bi-arrow-left" style="font-size: 20px"></i>
  </a>
  <h3 class="heading_style mt-5">ON SALE COLLECTION</h3>

  <!-- items section  -->
  <section>
    <div class="row mt-5">
      {% for item in sale_products %}
      <div class="col-sm-12 col-md-4 col-xl-3 mt-3">
        <div hx-boost="true">
          <a
            class="text-black"
            href="{% url 'item-details' item.id %}"
            style="text-decoration: none"
          >
            <img
              class="sale-image productimage"
              src="{{item.main_Image.url}}"
              alt=""
            />
            <p class="fw-bold mt-2">{{item.Name}}</p>
            <p class="mb-1 text-danger">
              <del>R{{item.Price}}</del>
            </p>
            <p
              class="heading_style"
              style="font-size: 18px; letter-spacing: 1px"
            >
              R{{item.Sale_Price}}
            </p>
            <p><span class="fw-bold">Ends</span> {{item.End_date}}</p>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</section>

<!-- section diver  -->
<div class="content_divider"></div>

<!-- <section>
  <center>
    <h2 class="heading_style mb-4">POP-UP STORE</h2>
    <h5>12 December 2023</h5>
    <p>Sing up for 30% discount</p>
    <button
      class="btn text-white py-3 card-shadow mt-4 rounded-0"
      style="background-color: black; width: 80%"
    >
      DISCOUNT CUOPON
    </button>
  </center>
</section> -->

<!-- section diver  -->
<div class="content_divider"></div>

<!-- Footer section  -->
<section>{% include 'partials/footer.html'%}</section>


{% endblock %}
